---
const personalImageAlt = "Eismer Lobaina";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-500 dark:[&>p>strong]:text-red-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="[&strong]:text-orange-500">
      I mastered <strong>GIT, UI/UX</strong> design and tools such as <strong
        >Figma, Github, YouTrack, Jira, Redmine and Notion,</strong
      > Frontend technologies such as <strong
        >React JS, Next JS, Vue JS, Javscript, Typescript.</strong
      >
      Styles with <strong
        >CSS, Material UI, Ant Design, Tailwind CSS, Bootstrap.</strong
      > State management with <strong>REDUX</strong>. For backend development I
      have mastery in <strong>Node JS, Mongo DB, Express JS,</strong>  I have already worked both
      freelance with various clients in which I have developed web applications
      from scratch, and for a software development company.
  </div>

  <img
    width="200"
    height="200"
    src="/elonprods.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
