---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "At the moment...",
    title: "Desarrollador web fullstack",
    company: "Freelancer",
    description:
      "Analysis and design, frontend and backend development, launch and maintenance of various web applications as well as landing pages",
    link: "https://elchatcubano1.com.br/es/chat",
  },
  {
    date: "Octubre, 2023",
    title: "Web frontend developer",
    company: "Avangenio SURL",
    description:
      "Web Frontend developer collaborating closely with an entire development team",
    link: "https://avangenio.com/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
